body {
    background-image: url("img/skull.gif");
    text-align: center;
    background-position: top;
    background-size: 35%;
    background-attachment: fixed;
    width:90%;margin: 0 auto;min-width:600px;max-width:2000px
}

div {
    background-image: url("img/sky.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 25%;
    padding: 2% 0px;
    color: white;
}

.nombre {
    background-image: url("img/raining\ skull.gif");
    color: rgb(223, 41, 41);
    padding: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

h1, h2, h3 {
    text-decoration: underline;
}

