body {
    background-image: url("img/skull.gif");
    text-align: center;
    background-position: top;
    background-size: 35%;
    background-attachment: fixed;

}

.nombre {
    background-image: url("img/raining\ skull.gif");
    color: rgb(223, 41, 41);
    padding: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
}

div {
    background-image: url("img/sky.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 25%;
    padding: 2% 4%;
    color: white;
}

img {
height: 250px;
}
.hrLinea {
    width: 75%;
    display: inline-block;
    border: 1px solid #1BB286;
    background-color: #1BB286;
}

.precio {
    font-weight: bolder;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Bungee Spice', cursive;
    color: orangered;
}

h2 {
    font-family: 'Nabla', cursive;
    color: gold;
}

h3 {
    font-family: 'Kenia', cursive;
    color: bisque;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3 {
    text-decoration: underline;
}

table {
    border-collapse: separate;
    width: 100%;

}

td {
    border-style: ridge;
    height: 150px;
    width: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25%;
}

.finde {
    margin: 0% 10%;
    font-size: 125%;
}

/*Carnes*/
.pechuga {
    background-image: url("img/Pechuga_de_pollo_con_patatas.jpg");
}

.cochino {
    background-image: url("img/cochinillo.jpg");
}

.lomo {
    background-image: url("img/lomo.jpg");
}

.churrasco {
    background-image: url("img/churrasco.jpg");
}

.solomillo {
    background-image: url("img/solomillo.jpg");
}

/*Ensaladas*/
.campera {
    background-image: url("img/ensalada.jpg");
}

.rusa {
    background-image: url("img/rusa.jpg");
}

.mixta {
    background-image: url("img/mixta.jpg");
}

.cesar {
    background-image: url("img/cesar.jpg");
}

.pimiento {
    background-image: url("img/pimientos.jpg");
}

/*Bocatas*/
.calamar {
    background-image: url("img/boccalamar.jpg");
}

.chorizo {
    background-image: url("img/chorizo.jpg");
}

.atun {
    background-image: url("img/atun.jpg");
}

.tortilla {
    background-image: url("img/tortilla.jpg");
}

.jamon {
    background-image: url("img/jamon.jpg");
}

/*Pescados*/
.lubina {
    background-image: url("img/lubina.jpg");
}

.bacalao {
    background-image: url("img/bacalao.jpg");
}

.dorada {
    background-image: url("img/dorada.jpg");
}

.merluza {
    background-image: url("img/merluza.jpg");
}

.salmon {
    background-image: url("img/salmon.jpg");
}

/*Otros*/
.croquetas {
    background-image: url("img/croquetas.jpeg");
}

.hamburguesa {
    background-image: url("img/hamburguesa.jpg");
}

.owner {
    text-align: right;
    font-size: 75%;
}